* {
    margin:0;
    padding: 0;
}
.menu {
    background-color: rgb(78, 81, 87);
    display: flex;
    justify-content: center;
}
.menu ul {
    list-style: none; /* Oculta os marcadores */
}
.menu ul li{
    display: inline-block; /* Deixa os links na horizontal */
    justify-content: space-around;
}
.menu ul li a{
    display: block;
    color: #fff;
    text-decoration: none; /* Retira o sublinhado do link */
    padding:10px 20px; /* Insere espaçamento interno na classe menu */
}
.menu ul li a:hover {
    background-color:#157e27; /* Hover é quando passa o mouse  */
}
h3 {
    text-align: center;
}
