.container {
    width:300px;
    margin:0 auto;
    padding: 20px;
    border: 1px solid rgb(78, 81, 87);
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(78, 81, 87);
    border-bottom: 1px dashed rgb(78, 81, 87);
}

.form_grupo {
    margin-bottom: 10px;
}

label {
    display:block;
    font-weight: 600;
    color: rgb(78, 81, 87);
}

input[type="text"], input[type="password"] {
    width:280px;
    padding: 5px;
    border:1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    cursor:pointer;
    width:100%;
    padding: 10px;
    background-color:rgb(78, 81, 87);
    color:aliceblue;
    border:none;
    border-radius: 8px;
}

input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
}

a{
    color: rgba(0, 0, 0, 0.418);
    text-decoration: none;
    font-size:1.2em;
}

a:hover {
    background-color:rgb(78, 81, 87);
    color:aliceblue;
    padding: 5px;
    border-radius: 8px;
}